body {
    color: #93e0a5;
    background: #081306;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 0.15rem;
    /* font-family: 'Montserrat', sans-serif; */
}

/* FLOAT RESET */

.group:before,
.group:after {
    content: " "; 
    display: table; 
}

.group:after {
    clear: both;
}

header h1, p {
    text-align: center;
}

header h1 {
    margin: 5rem 0 3rem 0;
    color: #b5e8c1;
    font-weight: 700;
}

header p {
    font-size: 1.2rem;
}

header {
    padding-bottom: 4.5rem;
    border-bottom: 0.1rem solid #0c1e09;
}
/* 
.upper {
    width: 1200px;
} */


.container {
    width: 38rem;
    margin: 5rem 0 10rem 5rem;
}

.pull-felt {
    float: left;
}

textarea {
    display: block;
    width: 35rem;
    margin: 2rem 0 2rem 0;
}

input {
    margin: 0;
    border: none;
    padding: 0.7rem;
    border-radius: 0.25rem;
    font-family: inherit;
    
}

input[type="text"],
input[type="email"]{
    width: 16.05rem;
    color: #081306;
}

input[type="text"] {
    margin-right: 1rem;
}

input,
textarea {
    font-style: italic;
    font-weight: 300;
    border-radius: 0.25rem;
}

textarea {
    padding: .6rem;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    background: #deedc5;
}

input[type="submit"],
input[type="reset"] {
    width: 10rem;
    height: 42.79px;
    margin-left: 1rem;
}

input[type="date"] {
    width: 12rem;
}

.button {
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    cursor: pointer;
    color:#deedc5;
}

.button-second {
    background: #081306;
    border: #deedc5 solid .5px;
}

.button-second:hover {
    background: #0d1f0a;
}

input[type="submit"]{
    background: #886350
}

input[type="submit"]:hover{
    background: #081306;
    border: #deedc5 solid .5px;
}

/* li {
    list-style: none;
    display: block;
} */

.social {
    width: 570px;
}

h3 {
    display: block;
    margin: 0;
    color: #886350;
}

section > p {
    text-align: left;
    line-height: 1.5rem;
}

svg {
    color: #886350;
    border: 0.5px solid #0d1f0a;
    padding: 12px;
    border-radius: 20%;
    background: #0d1f0a;
    margin-right: 1rem;
    vertical-align: middle;
}

a {
    color: #93e0a5; 
}

.social section {
    float: left;
}

section {
    margin-right: 3rem;
}